# Archivos y carpetas de Visual Studio
.vs/
*.vsidx

# Compilados y temporales
bin/
obj/
Debug/
Release/

# Archivos de usuario
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos de configuración locales
*.local
*.cache
*.log

# Paquetes NuGet
*.nupkg
packages/
